extends layout

block content
    nav.top-bar
        ul
            li.name
                h1
                    a= title
            li.toggle-topbar
    div.row
        div.twelve.columns

            p Welcome to #{title}
